<template name="slideshow">
    <!--=== Slider ===-->
    <div class="ms-layers-template section-height">
        <!-- masterslider -->
        <div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
            <div class="ms-slide" style="z-index: 10">
                <img src="/public/img/master-slider/style/blank.gif" data-src="img/sliders/background-index.png" alt="">
                <div class="ms-layer ms-promo-info" style="left:0px; top:175px"
                     data-effect="bottom(40)"
                     data-duration="2000"
                     data-delay="700"
                     data-ease="easeOutExpo"
                ><h3 class="white-text"><b>Encontre o que você precisa</b></h3></div>

                <div class="ms-layer ms-promo-info ms-promo-info-in color-light" style="left:0px; top:230px"
                     data-effect="bottom(40)"
                     data-duration="2000"
                     data-delay="1000"
                     data-ease="easeOutExpo"
                ><h3 class="white-text"><b>para cuidar da sua<span class="blue-text"> saúde</span>.</b></h3></div>

                <div class="ms-layer ms-promo-sub color-light" style="left:0px; top:300px"
                     data-effect="bottom(40)"
                     data-duration="2000"
                     data-delay="1600"
                     data-ease="easeOutExpo"
                ><h4 class="white-text"> Médicos, clínicas, personal trainer.</h4></div>
            </div>

        </div>
        <!-- end of masterslider -->
    </div>
    <!--=== End Slider ===-->
</template>